.nav {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 2.5rem;
}
.link:link,
.link:active,
.link:visited {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 0.1rem;
  text-decoration: none;
  color: var(--color-blue);
  font-size: 1.6rem;
  font-weight: 700;
}
svg {
  margin-right: 1rem;
}
