/* importing fonts and resources */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

/* defining global veriables */

:root {
  --color-blue: #00aff5;
  --color-light: #fff;
  --color-dark: rgb(5, 71, 82);
  --color-green: rgb(93, 209, 103);
  --color-grey-1: #cccccccb;
}

/* applying style reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
}

body {
  box-sizing: border-box;
}

/* App.js will be using public style */

.App {
  min-height: 100vh;
}
